PROJECT_NAME="myproject-0709"
KAFKA_SERVICE_NAME="kafka-19c70d7e"
TOPIC="sensor_metrics"
PARTITIONS=2
REPLICATION=2
NR_MESSAGES=200
MAX_TIME=0
USERNAME="farhanekarim@gmail.com"
TOKEN="xxxxxxxxxxxxxxxxxxxxx"
PRIVATELINK="NO"
SECURITY="SSL"
CLOUD_REGION="azure-france-central"
AIVEN_PLAN_NAME="business-4"
DESTINATION_FOLDER_NAME="/Users/karimfarhane/PycharmProjects/AivenAssignement/kafkaCerts/SensorIoT/"